@mixin trans {
    transition: all 0.2s ease-out;
}

@mixin convert-buttons {
    display: flex;
    align-items: center;

    width: max-content;
    height: 40px;

    padding-inline: 6px;
    margin-block: 6px;
    border-radius: 4px;

    font: normal 24px sans-serif;
    color: var(--color);

    user-select: none;
    @include trans;

    &:hover {
        background-color: var(--background-color-hover);
    }
}

@mixin input {
    padding: 8px;

    border: 4px solid var(--border-color);
    border-radius: 8px;
    
    font: 16px "D2Coding", sans-serif;
    background-color: var(--background-color);
    color: var(--color);
    
    resize: none;
    @include trans;
}
